@page "/"


<div class="row">
    <div class="col-md-6 mb-3">
        <NavLink class="nav-link" href="PortScan">
            <div class="card text-center d-flex align-items-center">
                <img src="images/poortscanner.png" class="card-img-top mx-auto" style="max-height:300px; max-width:300px;" alt="Poortscanner afbeelding">
                <div class="card-body">
                    <h5 class="card-title">Poortscanner</h5>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-md-6 mb-3">
        <NavLink class="nav-link" href="Dirbuster">
            <div class="card text-center d-flex align-items-center">
                <img src="images/dirbuster.svg" class="card-img-top mx-auto" style="max-height:300px; max-width:300px;" alt="Dirbuster afbeelding">
                <div class="card-body">
                    <h5 class="card-title">Dirbuster</h5>
                </div>
            </div>
        </NavLink>
    </div>
</div>


